/* Image Hover Effect CSS (W3Schools tutorial) */

.specie-content:hover .image{
    opacity: 0.3;
}
.specie-content:hover .middle{
    opacity: 1;
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    /* backface-visibility: hidden; */
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hover-text{
    color:white;
    font-size: 16px;
}