{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <!-- <div class="col-md-12"> -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='img/african_python.png') }}" alt="">
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='img/gree_tree_python.png') }}" alt="">
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='img/black_mamba.png') }}" alt="">
            </div>
        <!-- </div> -->
    </div>  
</div>
{% endblock %}